.header-container {
  background-color: whitesmoke;
  min-height: 15vh;
  max-height: 15vh;
  padding-right: 3vh;
  padding-left: 3vh;

  display: flex;
  align-items: center;
}

.header-nav {
  min-height: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.header-nav > a {
  text-decoration: none;
  text-transform: uppercase;
}

.header-img {
  width: 18vh;
  height: 18vh;
  transition: all 0.5s ease-in-out;
}

.header-img:hover {
  transform: scale(1.1, 1.1);
}
