@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

body {
  background-color: whitesmoke;
  margin: 0;
  font-family: "Source Sans Pro";
  color: #555559;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  background-color: whitesmoke;
  padding: 3vh;
}
